<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title%}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    # block head:
    <link href="/base/static/bootstrap.css" rel="stylesheet">
    <link href="/base/static/style.css" rel="stylesheet">
    # endblock
    # block favicon
    <link rel="shortcut icon" href="/favicon.ico">
    # endblock
</head>
<body>
    # block content:
    # endblock
</body>
    # block script:
    # endblock
</html>