<!DOCTYPE html lang="en">
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title%}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no">
    <link href="{{ url_for('static',filename='bootstrap.css') }}" rel="stylesheet">
    # block head:
    # endblock
    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet">
    # block favicon
    <link rel="shortcut icon" href="/favicon.ico">
    # endblock
</head>
<body>
    # block content:
    # endblock
</body>
    # block script:
    # endblock
</html>