# extends 'base.html'

# block head
<link href="/posts/{{ iD }}/static/bootstrap.css" rel="stylesheet">
<link href="/posts/{{ iD }}/static/style.css" rel="stylesheet">
<link rel="manifest" href="/posts/{{ iD }}/manifest.json">
# endblock
# block favicon
<link rel="shortcut icon" type="image/png" href="/posts/{{ iD }}/128.png">
# endblock

# block content
<div id="badge"></div>

<div id="updated_date">Created on {{ created_date }}</div>
# if created_date != updated_date:
	<div id="updated_date">Updated on {{ updated_date }}</div>
# endif
<div id="meta">
	<div id="author">{{ author }}</div>
	<div id="title">{% block title %}{{ title }}{% endblock%}</div>
	<div id="date">{{ date }}</div>
</div>
<progress id="progressGet"></progress>
<div id="content">
</div>
<div class="r-button"><a class="btn btn-default" id="edit_link" href="./edit/">Edit</a></div>
# endblock

# block script:
	<script defer src="/posts/{{ iD }}/static/jquery.js"></script>
	<script defer src="/posts/{{ iD }}/static/popper.min.js"></script>
	<script defer src="/posts/{{ iD }}/static/main.js"></script>
	<script async src="/posts/{{ iD }}/static/pwacompat.min.js"></script>
# endblock